{% extends "base.html"%}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <form method="post" class='center'>
        <h1>Авторизация</h1>
        {% for msg in get_flashed_messages() %}
        <div class="flash" style='color: red'>{{msg}}</div>
        {% endfor %}
        <div class='input'>
            <label>Никнейм: </label>
            <input type='text' name='name'>
        </div>
        <div class='input'>
            <label>Пароль: </label>
            <input type='password' name='pass'>
        </div>
        <input type='submit'>
        <a href='/register'>Нет аккаунта? Так сделайте его</a>
    </form>
{% endblock %}