{% extends "base.html"%}
{% block title %}Авторизация{% endblock %}
{% block app_content %}
    <form method="post" class='center'>
        <h1>Авторизация</h1>
        <div class='input'>
            <label>Никнейм: </label>
            <input type='text' name='name'>
        </div>
        <div class='input'>
            <label>Пароль: </label>
            <input type='password' name='pass'>
        </div>
        <input type='submit' class="btn btn-lg btn-primary btn-block">
        <a href='/register'>Нет аккаунта? Так сделайте его</a>
    </form>
{% endblock %}