{% extends 'bootstrap/base.html' %}

{% block styles%}       
    <meta name="yandex-verification" content="0ce089cdab8949ef" />
    <meta name="google-site-verification" content="xpD_qiv55UilAXaEVF56yevcCz-1Nixe6PISG10FNII" />
    <meta id='notify_key' content='{{notify_key}}'>
    <link rel="stylesheet" href='/static/form.css'>
    <link rel="stylesheet" href='/static/text.css'>
    <link rel="stylesheet" href='/static/other.css'>
    <script type='text/javascript' src='/static/jquery.min.js'></script>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(87008523, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/87008523" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <script type='text/javascript' src='/static/db.js'></script>
    <script type='text/javascript' src='/static/donwload.js'></script>
    <script type='text/javascript' src='/static/entrypoint.js'></script>
{% endblock %}

{% block navbar %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    
    <h5 class="my-0 mr-md-auto font-weight-normal">IMPERATIVE</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">Все игры</a>
    </nav>

    {% if current_user.is_authenticated %}
    <a href='/profile' class="p-2 text-dark">Ваш профиль</a>
    <a href='#' onclick='subscribe()' class="p-2 text-dark">Подписаться на уведомления</a>
    <a href='/logout' class="p-2 text-dark">Выйти</a>
    {% if current_user.role > 0 %}
    <a href='/admin' class="p-2 text-dark">Админка</a>
    {% endif %}
    {% else %}
    <a href="/login" class="p-2 text-dark">Войти</a>
    <a href="/register" class="p-2 text-dark">Зарегистрироваться</a>
    {% endif %}
  </div>
{% endblock%}

{% block content%}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}