{% extends "base.html"%}
{% block title %}Документация{% endblock %}
{% block app_content %}
<h4>Авторизация</h4>
<p>
1 шаг - получить токен. 
Для этого делаем запрос по ссылке /api/login/token/secret, где secret - это произведение двух секретных ключей.
</p>
<p>
2 шаг - получить ключ сессии.
Для этого нужно токен разделить на две части(разделить символ новой строки)
Первая часть - числовая, а вторая - текстовая. Вам надо сохранить их раздельно с разделителем в виде двоеточия
Также из числовой части надо взять ключ сессии по формуле seed - top / under(решение уравнения under * x + top = seed), где seed - числовая часть, top - код шифровки, under - код шифруемый
</p>
<p>
3 шаг - токен подтвердить
Для этого отправляем пользователя по ссылке /api/login?token=token, где token - это соединенный двухчастный токен
После этого ваш токен подтвержден
</p>
<p>
4 шаг - действия
После каждого действия вам необходимо сменить токен, а точнее его числовую часть. Изменять необходимо по прогрессии.
Для этого числовую часть вы должны пропустить через такую формулу round(f * u / t) - k, где f - предыдущая
числовая часть, u - код шифруемый, t - код шифровки, k - ключ сессии
</p>

<h4>Багтрекинг</h4>
<p>
1 шаг - войти в гитхаб. 
2 шаг - зайти по ссылке https://github.com/kolza2008/gamestory/issues/new
3 шаг - заполнить форму. В название указать в каком действии произошел баг. 
В описании расписать при каких условиях проявился баг(адрес api, аргумент), как проявился, что ожидалось.
</p>
{% endblock %}