{% extends "base.html"%}
{% block title %}Документация{% endblock %}
{% block app_content %}
<h5>Авторизация</h5>
<p>
1 шаг - получить токен. 
Для этого делаем запрос по ссылке /api/login/token/secret, где secret - это произведение двух секретных ключей.
</p>
</br>
<p>
2 шаг - получить ключ сессии.
Для этого нужно токен разделить на две части(разделить символ новой строки)
Первая часть - числовая, а вторая - текстовая. Вам надо сохранить их раздельно с разделителем в виде двоеточия
Также из числовой части надо взять ключ сессии по формуле seed - top / under(решение уравнения under * x + top = seed), где seed - числовая часть, top - код шифровки, under - код шифруемый
</p>
</br>
<p>
3 шаг - токен подтвердить
Для этого отправляем пользователя по ссылке /api/login?token=token, где token - это соединенный двухчастный токен
После этого ваш токен подтвержден
</p>
</br>
<p>
4 шаг - действия
После каждого действия вам необходимо сменить токен, а точнее его числовую часть. Изменять необходимо по прогрессии.
Для этого числовую часть вы должны пропустить через такую формулу round(f * u / t) - k * ((m % 2) + 1), где f - предыдущая
числовая часть, u - код шифруемый, t - код шифровки, k - ключ сессии, m - сколько уже было действий до этого момента
</p>
{% endblock %}