{% extends "base.html"%}
{% block title %}{{obj.name}}{% endblock %}
{% block app_content %}
    <table style='width:100%'>
        <tr style='width:100%'>
            <td style='width:70%'>
                <h1>{{obj.name}}</h1> </br>
                <p>{{obj.description}}</p>
            </td>
            <td style='width:30%; text-align: center;'>
                <img src='/game/photo/{{obj.id}}' style='width:100%;height:auto'></br>
                <a href='/game/achievement/{{obj.id}}'>Достижения</a></br>
                {% if obj.price == 0.0 %}
                <a class="btn btn-lg btn-primary btn-block" onclick="donwload({'id':'{{obj.id}}', 'name':'{{obj.name}}', 'version':'{{obj.version}}'})" href='/game/donwload/{{obj.id}}' download>Скачать</a>
                {% elif is_buy(obj.id)%}
                <a class="btn btn-lg btn-primary btn-block" onclick="donwload({'id':'{{obj.id}}', 'name':'{{obj.name}}', 'version':'{{obj.version}}'})" href='/game/donwload/{{obj.id}}' download>Скачать</a>
                {% else %}
                <a class="btn btn-lg btn-primary btn-block" href='/pay/game?id={{obj.id}}'>Купить за {{pricename(obj.price)}}</a>
                {% endif %}
            </td>
        </tr>
    </div>
{% endblock %}