{% extends "base.html"%}
{% block title %}IMPERATIVE{% endblock %}
{% block app_content %}
<p><i>Новые игры буддут добавляться со временем, поэтому, пожалуйста, включите уведомления</i></p>
<table id='table' style='width:100%'>
</table>
<script>
    async function get_games(){
        return await fetch('/api/games').then(response => response.json());
    };
    var games = get_games()
    console.log(games);
    console.log(games.main);
    games.then(function(games){
        for(let i = 0; i!=games['main'].length;i++){
            var data = games['main'][i]
            var obj = document.createElement('tr') 
            obj.style = 'border-width: 2px 0px; border-color: black;';
            obj.innerHTML = `<td style='text-align: left; width: auto;'><img style='width:30%;height:auto' src='/game/photo/${data['id']}'></td><td style='text-align:right'><a href='/game${data['id']}'>${data['name']}</a></td>`
            document.getElementById('table').appendChild(obj);
        };
    });
</script>
{% endblock %}