{% extends "base.html"%}
{% block title %}Обновление{% endblock %}
{% block app_content %}
    <form method="post" enctype=multipart/form-data class='center'>
        <h1>Обновление игры</h1>
        <div>
            <label>Версия игры: </label>
            <input type="text" name='version' id='version'>
        </div>
        <div>
            <textarea name='desc' placeholder="Описание игры">
                {{resource.description}}
            </textarea>
        </div>
        <div>
            <label>Обложка игры</label>
            <input type='file' name='photo'>
        </div>
        <div>
            <label>Файл игры</label>
            <input type='file' name='apk'>
        </div>
        <div>
            <label>Цена игры (в рублях)</label>
            <input type='value' name='price 'value={{resource.price}}}>
        </div>
        <input type='submit' class="btn btn-lg btn-primary btn-block">
    </form>
    <script>
        document.getElementById('version').value = '1.0'
    </script>
{% endblock %}